@charset "UTF-8";

h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
    z-index: -1;
}
.heading {
    position: fixed;
    top: 180px;
    left: 6%;
    z-index: -1;
}
p {
    text-align: center;
    font-size: 16px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    margin-top: 300px;
    margin-bottom: 90px;
}

.contact_wrap {
    width: 60%;
    margin: 0 auto;
}

::placeholder {
    color: #c7e7eb;
    font-size: 14px;
}
input:focus {
    outline: none;
    border: 1px solid #c7e7eb;
}
/* input[type="text"] {
    color: red;
} */
input {
    width: 100%;
    margin: 0;
    height: 2rem;
    box-sizing: border-box;
}
textarea:focus {
    outline: none;
    border: 1px solid #c7e7eb;
}
/* input[type="msg"] {
    color: red;
} */
/* （textarea自体のは文字色は変えられないと調べたので今回は後回しにします） */

.contact_item {
    display: block;
    font-size: 15px;
    font-feature-settings: "palt";
    margin-left: 15px;
    margin-bottom: 5px;
}
.contact_box_s {
    width: 100%;
    height: 64px;
    border-radius: 16px;
    background: #fff;
    border: solid 1px #fff;
    padding-left: 15px;
}
.contact_box_l {
    width: 100%;
    height: 350px;
    border-radius: 16px;
    background: #fff;
    border: solid 1px #fff;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-top: 15px;
}
.contact_box_s + .contact_item {
    margin-top: 50px;
}
.btn_next {
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 100px;
    border-radius: 16px;
    background: #e3f3f5;
    border: solid 1px #d0ebee;
    margin: 0 auto 100px;
}
