@charset "UTF-8";

.section {
    position: relative;
}
h2 {
    font-size: 30px;
    letter-spacing: 0.1em;
    z-index: -1;
}
.adjust_height {
    height: 80px;
    margin-top: 180px;
}
.heading {
    position: absolute;
    top: 0;
    left: 70px;
    height: 100%;
    z-index: -1;
}
.sticky {
    position: sticky;
    top: 140px;
}

.top {
    height: 450px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 2;
    letter-spacing: 0.1em;
}

.thought_wrap {
    text-align: justify;
    max-width: 1000px;
    padding: 0 10%;
    margin: 200px auto 160px;
}
.thought_right {
    text-align: justify;
    width: 55%;
    margin-left: 45%;
}
.thought_left {
    width: 55%;
}
.thought_right + .thought_left,
.thought_left + .thought_right {
    margin-top: 150px;
}

/* .heading_02 {
    position: absolute;
    height: 170px;
    left: 6%;
    z-index: -1;
} */
.logo_wrap {
    max-width: 780px;
    padding-left: 20%;
    padding-right: 20%;
    margin: 300px auto 160px;
}
.logo_img {
    width: 35%;
    margin: 0 auto 160px;
}
.logo_desc_mean {
    margin-bottom: 160px;
}

h3 {
    font-size: 24px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    padding-bottom: 17px;
    border-bottom: 2px dotted #a2d7dd;
    margin-bottom: 17px;
}
.thought_work {
    font-size: 16px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 40px;
}

.logo_desc_symbol {
    display: flex;
    justify-content: space-between;
}
.logo_desc_symbol_desc {
    padding-right: 20px;
}
.logo_desc_symbol_img {
    width: 75px;
}
.thought_logo {
    font-size: 16px;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
    line-height: 2;
    margin-bottom: 30px;
}
