@charset "utf-8";

/* cssリセット */
body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* cssリセット ここまで */


.wrap-blue {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.wrap-blue div {
    width: 300px;
    height: 300px;
    background: #3e62ad;
    text-align: center;
    line-height: 300px;
    color: white;

}


.wrap-red {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
}

.wrap-red div {
    width: 300px;
    height: 300px;
    background: #d9333f;
    text-align: center;
    color: white;
    line-height: 300px;
    margin-bottom: 20px;
}


.wrap-top {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 20px auto;
}

.wrap-menu {
    display: flex;
    align-items: center;
    max-width: 960px;
}

.wrap-menu ul {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
}

.wrap-menu li {
    padding: 5px 20px;
}

li+li {
    border-left: 1px solid #4c4c4c;
}

@media screen and (max-width: 767px) {
    .wrap-top {
        display: block;
        margin: 20px 10px;
    }

    .wrap-menu ul {
        display: block;
        max-width: 767px;
    }

    .wrap-menu li {
        text-align: left;
        /* 　メモ　padding: 15px 0; */
        width: 100%;
        border-bottom: 2px solid #4c4c4c;
    }

    li+li {
        border-left: 0;
    }
}